In [10]:
import pandas as pd
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)

In [3]:
df=pd.read_csv(r'C:\Users\DELL\Downloads\company.csv')

In [4]:
df

     Company   Age  Salary     Place Country  Gender
0        TCS  20.0     NaN   Chennai   India       0
1    Infosys  30.0     NaN    Mumbai   India       0
2        TCS  35.0  2300.0  Calcutta   India       0
3    Infosys  40.0  3000.0     Delhi   India       0
4        TCS  23.0  4000.0    Mumbai   India       0
..       ...   ...     ...       ...     ...     ...
143      TCS  33.0  9024.0  Calcutta   India       1
144  Infosys  22.0  8787.0  Calcutta   India       1
145  Infosys  44.0  4034.0     Delhi   India       1
146      TCS  33.0  5034.0    Mumbai   India       1
147  Infosys  22.0  8202.0    Cochin   India       0

[148 rows x 6 columns]

In [6]:
df.head()

   Company   Age  Salary     Place Country  Gender
0      TCS  20.0     NaN   Chennai   India       0
1  Infosys  30.0     NaN    Mumbai   India       0
2      TCS  35.0  2300.0  Calcutta   India       0
3  Infosys  40.0  3000.0     Delhi   India       0
4      TCS  23.0  4000.0    Mumbai   India       0

In [7]:
df.tail()

     Company   Age  Salary     Place Country  Gender
143      TCS  33.0  9024.0  Calcutta   India       1
144  Infosys  22.0  8787.0  Calcutta   India       1
145  Infosys  44.0  4034.0     Delhi   India       1
146      TCS  33.0  5034.0    Mumbai   India       1
147  Infosys  22.0  8202.0    Cochin   India       0

In [8]:
df.head(10)

   Company   Age  Salary     Place Country  Gender
0      TCS  20.0     NaN   Chennai   India       0
1  Infosys  30.0     NaN    Mumbai   India       0
2      TCS  35.0  2300.0  Calcutta   India       0
3  Infosys  40.0  3000.0     Delhi   India       0
4      TCS  23.0  4000.0    Mumbai   India       0
5  Infosys   NaN  5000.0  Calcutta   India       0
6      TCS   NaN  6000.0   Chennai   India       1
7  Infosys  23.0  7000.0    Mumbai   India       1
8      TCS  34.0  8000.0  Calcutta   India       1
9      CTS  45.0  9000.0     Delhi   India       0

In [11]:
df

                       Company   Age  Salary       Place Country  Gender
0                          TCS  20.0     NaN     Chennai   India       0
1                      Infosys  30.0     NaN      Mumbai   India       0
2                          TCS  35.0  2300.0    Calcutta   India       0
3                      Infosys  40.0  3000.0       Delhi   India       0
4                          TCS  23.0  4000.0      Mumbai   India       0
5                      Infosys   NaN  5000.0    Calcutta   India       0
6                          TCS   NaN  6000.0     Chennai   India       1
7                      Infosys  23.0  7000.0      Mumbai   India       1
8                          TCS  34.0  8000.0    Calcutta   India       1
9                          CTS  45.0  9000.0       Delhi   India       0
10                         CTS  23.0     NaN      Mumbai   India       0
11                         CTS  34.0  1089.0    Calcutta   India       0
12                         CTS  45.0     NaN     Chennai   India       0
13                         CTS  18.0  1234.0      Mumbai   India       0
14                     Infosys  40.0  3000.0    Calcutta   India       0
15                         TCS  23.0  3000.0       Delhi   India       0
16                     Infosys  23.0  3030.0  Podicherry   India       0
17                         TCS  34.0  5000.0      Cochin   India       0
18                         TCS  22.0     NaN     Chennai   India       0
19                     Infosys  32.0     NaN      Mumbai   India       0
20                         TCS  37.0  3045.0    Calcutta   India       0
21                     Infosys  50.0  3184.0       Delhi   India       0
22                         TCS  21.0  4824.0      Mumbai   India       0
23                     Infosys   NaN  5835.0      Cochin   India       0
24                         TCS   NaN  7084.0     Chennai   India       1
25                     Infosys  23.0  8943.0      Mumbai   India       1
26                         TCS  34.0  8345.0    Calcutta   India       1
27                         CTS  45.0  9284.0       Delhi   India       1
28                         CTS  23.0  9876.0      Mumbai   India       1
29                         CTS  35.0  2034.0      Cochin   India       0
30                         CTS  46.0  7654.0     Chennai   India       0
31                         CTS  20.0  2934.0      Mumbai   India       0
32                     Infosys  45.0  4034.0    Calcutta   India       0
33                         TCS  36.0  5034.0         NaN   India       0
34                     Infosys  26.0  8202.0         NaN   India       0
35                         TCS  35.0  9024.0         NaN   India       1
36                         TCS  32.0     NaN       Noida   India       0
37                         NaN  35.0     NaN   Hyderabad   India       0
38                         TCS  34.0  2300.0    Calcutta   India       0
39                     Infosys  41.0  3000.0      Mumbai   India       0
40                         TCS  24.0  4345.0    Calcutta   India       0
41                     Infosys   NaN  5000.0         NaN   India       0
42                         TCS   NaN  6000.0         NaN   India       0
43                     Infosys  25.0  7000.0         NaN   India       0
44                         TCS  35.0  8000.0       Noida   India       1
45                         CTS  46.0  9000.0   Hyderabad   India       1
46                         CTS  24.0     NaN    Calcutta   India       0
47                         CTS  32.0  1089.0      Mumbai   India       0
48                         CTS  43.0     NaN      Mumbai   India       0
49                         CTS  19.0  1234.0      Cochin   India       0
50                     Infosys  41.0  3000.0     Chennai   India       0
51                         NaN  24.0  3000.0      Mumbai   India       0
52                     Infosys  21.0  3030.0    Calcutta   India       0
53                         TCS  35.0  5000.0       Delhi   India       0
54                         TCS  21.0  6544.0      Mumbai   India       0
55                     Infosys  32.0  7654.0      Cochin   India       0
56                         TCS  38.0  3045.0       Noida   India       0
57                     Infosys  51.0  3184.0   Hyderabad   India       0
58                         TCS  23.0  4824.0    Calcutta   India       0
59                     Infosys   NaN  5835.0      Mumbai   India       0
60                         TCS   NaN  7084.0    Calcutta   India       0
61                         NaN  25.0  8943.0         NaN   India       1
62   Tata Consultancy Services  36.0  8345.0         NaN   India       1
63                         CTS  41.0  9284.0         NaN   India       1
64                         NaN  25.0  6543.0       Noida   India       0
65                         CTS  31.0  2034.0   Hyderabad   India       0
66                         CTS  41.0     NaN    Calcutta   India       0
67                  Congnizant  21.0  2934.0      Mumbai   India       0
68                     Infosys  43.0  4034.0      Mumbai   India       0
69                         TCS  32.0  5034.0      Cochin   India       0
70             Infosys Pvt Lmt  21.0  8202.0     Chennai   India       0
71                         TCS  34.0  9024.0      Mumbai   India       1
72                         TCS  24.0     NaN    Calcutta   India       0
73                     Infosys  34.0     NaN       Delhi   India       0
74                         TCS  37.0  2300.0      Mumbai   India       0
75                     Infosys  44.0  3000.0      Cochin   India       0
76                         TCS  32.0  4000.0       Noida   India       0
77                     Infosys   NaN  5000.0   Hyderabad   India       0
78                         TCS   NaN  6000.0    Calcutta   India       0
79                     Infosys  26.0  7000.0      Bhopal   India       0
80                         TCS  32.0  8000.0      Nagpur   India       0
81                         CTS  43.0  9000.0        Pune   India       1
82                         CTS  22.0     NaN        Pune   India       0
83                         CTS  33.0  1089.0     Chennai   India       0
84                         CTS  43.0     NaN      Mumbai   India       0
85                         CTS  17.0  1234.0    Calcutta   India       0
86                     Infosys  41.0  3000.0       Delhi   India       0
87                         TCS  21.0  3000.0      Mumbai   India       0
88                     Infosys   0.0  3030.0    Calcutta   India       0
89                         TCS  36.0  5000.0     Chennai   India       0
90                         TCS  21.0     NaN      Mumbai   India       0
91                     Infosys  34.0     NaN    Calcutta   India       0
92                         TCS   0.0  3045.0       Delhi   India       0
93                     Infosys  54.0  3184.0      Mumbai   India       0
94                         TCS  22.0  4824.0    Calcutta   India       0
95                     Infosys   NaN  5835.0     Chennai   India       0
96                         TCS   NaN  7084.0      Mumbai   India       1
97                     Infosys  22.0  8943.0    Calcutta   India       1
98                         TCS  33.0  8345.0       Delhi   India       1
99                         CTS  44.0  9284.0  Podicherry   India       1
100                        CTS  22.0     NaN      Cochin   India       0
101                        CTS   0.0  2034.0  Podicherry   India       0
102                        CTS  44.0     NaN      Mumbai   India       0
103                        CTS  22.0  2934.0    Calcutta   India       0
104                    Infosys  44.0  4034.0       Delhi   India       0
105                        TCS  33.0  5034.0      Mumbai   India       0
106                    Infosys  22.0  8202.0      Cochin   India       1
107                        TCS   0.0  9024.0     Chennai   India       1
108                        TCS  33.0     NaN      Mumbai   India       0
109                        NaN  33.0     NaN    Calcutta   India       0
110                        TCS  33.0  2300.0       Delhi   India       0
111                    Infosys   0.0  3234.0      Mumbai   India       0
112                        TCS  22.0  4324.0      Cochin   India       0
113                    Infosys   NaN  5435.0     Chennai   India       0
114                        TCS   NaN  5555.0      Mumbai   India       0
115                    Infosys  22.0  8787.0    Calcutta   India       0
116                        TCS  33.0  8787.0         NaN   India       1
117                        CTS  44.0  9876.0         NaN   India       1
118                        CTS  22.0     NaN         NaN   India       0
119                        CTS  33.0  1089.0       Noida   India       0
120                        CTS  44.0     NaN   Hyderabad   India       0
121                        CTS   0.0  1234.0    Calcutta   India       0
122                    Infosys  44.0  3234.0      Mumbai   India       0
123                        NaN   NaN  3454.0    Calcutta   India       0
124                    Infosys  22.0  8787.0    Calcutta   India       1
125                        TCS  33.0  5654.0         NaN   India       1
126                        TCS  20.0  5009.0         NaN   India       1
127                    Infosys  30.0  5098.0       Noida   India       0
128                        TCS  33.0  3045.0   Hyderabad   India       0
129                    Infosys  50.0  3184.0    Calcutta   India       0
130                        TCS  21.0  4824.0      Mumbai   India       0
131                    Infosys   NaN  5835.0      Mumbai   India       0
132                        TCS   NaN  7084.0      Cochin   India       1
133                        NaN  22.0  8943.0     Chennai   India       0
134  Tata Consultancy Services  31.0  8345.0      Mumbai   India       0
135                        CTS  40.0  9284.0    Calcutta   India       1
136                        NaN   NaN     NaN       Delhi   India       0
137                        CTS  31.0  2034.0      Mumbai   India       0
138                        CTS  44.0  3033.0      Cochin   India       0
139                 Congnizant  22.0  2934.0       Noida   India       0
140                    Infosys  44.0  4034.0   Hyderabad   India       0
141                        TCS  33.0  5034.0    Calcutta   India       0
142            Infosys Pvt Lmt  22.0  8202.0      Mumbai   India       0
143                        TCS  33.0  9024.0    Calcutta   India       1
144                    Infosys  22.0  8787.0    Calcutta   India       1
145                    Infosys  44.0  4034.0       Delhi   India       1
146                        TCS  33.0  5034.0      Mumbai   India       1
147                    Infosys  22.0  8202.0      Cochin   India       0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  140 non-null    object
 1   Age      130 non-null    float64
 2   Salary   124 non-null    float64
 3   Place    134 non-null    object
 4   Country  148 non-null    object
 5   Gender   148 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.1+ KB

In [14]:
df.describe()

              Age       Salary      Gender
count  130.000000   124.000000  148.000000
mean    30.484615  5312.467742    0.222973
std     11.096640  2573.764683    0.417654
min      0.000000  1089.000000    0.000000
25%     22.000000  3030.000000    0.000000
50%     32.500000  5000.000000    0.000000
75%     37.750000  8000.000000    0.000000
max     54.000000  9876.000000    1.000000

In [15]:
df.columns

Index(['Company', 'Age', 'Salary', 'Place', 'Country', 'Gender'], dtype='object')

In [16]:
df['Company']

0                            TCS
1                        Infosys
2                            TCS
3                        Infosys
4                            TCS
5                        Infosys
6                            TCS
7                        Infosys
8                            TCS
9                            CTS
10                           CTS
11                           CTS
12                           CTS
13                           CTS
14                       Infosys
15                           TCS
16                       Infosys
17                           TCS
18                           TCS
19                       Infosys
20                           TCS
21                       Infosys
22                           TCS
23                       Infosys
24                           TCS
25                       Infosys
26                           TCS
27                           CTS
28                           CTS
29                           CTS
30                           CTS
31                           CTS
32                       Infosys
33                           TCS
34                       Infosys
35                           TCS
36                           TCS
37                           NaN
38                           TCS
39                       Infosys
40                           TCS
41                       Infosys
42                           TCS
43                       Infosys
44                           TCS
45                           CTS
46                           CTS
47                           CTS
48                           CTS
49                           CTS
50                       Infosys
51                           NaN
52                       Infosys
53                           TCS
54                           TCS
55                       Infosys
56                           TCS
57                       Infosys
58                           TCS
59                       Infosys
60                           TCS
61                           NaN
62     Tata Consultancy Services
63                           CTS
64                           NaN
65                           CTS
66                           CTS
67                    Congnizant
68                       Infosys
69                           TCS
70               Infosys Pvt Lmt
71                           TCS
72                           TCS
73                       Infosys
74                           TCS
75                       Infosys
76                           TCS
77                       Infosys
78                           TCS
79                       Infosys
80                           TCS
81                           CTS
82                           CTS
83                           CTS
84                           CTS
85                           CTS
86                       Infosys
87                           TCS
88                       Infosys
89                           TCS
90                           TCS
91                       Infosys
92                           TCS
93                       Infosys
94                           TCS
95                       Infosys
96                           TCS
97                       Infosys
98                           TCS
99                           CTS
100                          CTS
101                          CTS
102                          CTS
103                          CTS
104                      Infosys
105                          TCS
106                      Infosys
107                          TCS
108                          TCS
109                          NaN
110                          TCS
111                      Infosys
112                          TCS
113                      Infosys
114                          TCS
115                      Infosys
116                          TCS
117                          CTS
118                          CTS
119                          CTS
120                          CTS
121                          CTS
122                      Infosys
123                          NaN
124                      Infosys
125                          TCS
126                          TCS
127                      Infosys
128                          TCS
129                      Infosys
130                          TCS
131                      Infosys
132                          TCS
133                          NaN
134    Tata Consultancy Services
135                          CTS
136                          NaN
137                          CTS
138                          CTS
139                   Congnizant
140                      Infosys
141                          TCS
142              Infosys Pvt Lmt
143                          TCS
144                      Infosys
145                      Infosys
146                          TCS
147                      Infosys
Name: Company, dtype: object

In [17]:
df['Company'].value_counts()

TCS                          53
Infosys                      45
CTS                          36
Tata Consultancy Services     2
Congnizant                    2
Infosys Pvt Lmt               2
Name: Company, dtype: int64

In [21]:
df['Company'].replace({'Tata Consultancy Services':'TCS','Infosys Pvt Lmt':'Infosys','Congnizant':'CTS'},inplace=True)

In [22]:
df['Company'].value_counts()

TCS        55
Infosys    47
CTS        38
Name: Company, dtype: int64

In [23]:
df['Company'].isnull().sum()

8

In [25]:
df['Company'].mode()[0]

'TCS'

In [28]:
df['Company'].fillna(df['Company'].mode()[0],inplace=True)

In [29]:
df['Company'].isnull().sum()

0

In [30]:
df['Company'].value_counts()

TCS        63
Infosys    47
CTS        38
Name: Company, dtype: int64

In [32]:
df.columns

Index(['Company', 'Age', 'Salary', 'Place', 'Country', 'Gender'], dtype='object')

In [34]:
df['Age'].min()

0.0

In [35]:
df['Age'].max()

54.0

In [37]:
df['Age'].isnull().sum()

18

In [39]:
round(df['Age'].mean(),1)

30.5

In [41]:
df['Age'].fillna(round(df['Age'].mean(),1),inplace=True)

In [42]:
df['Age'].isnull().sum()

0

In [44]:
df.columns

Index(['Company', 'Age', 'Salary', 'Place', 'Country', 'Gender'], dtype='object')

In [45]:
df['Salary'].isnull().sum()

24

In [47]:
round(df['Salary'].mean(),3)

5312.468

In [48]:
df['Salary']=df['Salary'].fillna(round(df['Salary'].mean(),3))

In [49]:
df['Salary']

0      5312.468
1      5312.468
2      2300.000
3      3000.000
4      4000.000
5      5000.000
6      6000.000
7      7000.000
8      8000.000
9      9000.000
10     5312.468
11     1089.000
12     5312.468
13     1234.000
14     3000.000
15     3000.000
16     3030.000
17     5000.000
18     5312.468
19     5312.468
20     3045.000
21     3184.000
22     4824.000
23     5835.000
24     7084.000
25     8943.000
26     8345.000
27     9284.000
28     9876.000
29     2034.000
30     7654.000
31     2934.000
32     4034.000
33     5034.000
34     8202.000
35     9024.000
36     5312.468
37     5312.468
38     2300.000
39     3000.000
40     4345.000
41     5000.000
42     6000.000
43     7000.000
44     8000.000
45     9000.000
46     5312.468
47     1089.000
48     5312.468
49     1234.000
50     3000.000
51     3000.000
52     3030.000
53     5000.000
54     6544.000
55     7654.000
56     3045.000
57     3184.000
58     4824.000
59     5835.000
60     7084.000
61     8943.000
62     8345.000
63     9284.000
64     6543.000
65     2034.000
66     5312.468
67     2934.000
68     4034.000
69     5034.000
70     8202.000
71     9024.000
72     5312.468
73     5312.468
74     2300.000
75     3000.000
76     4000.000
77     5000.000
78     6000.000
79     7000.000
80     8000.000
81     9000.000
82     5312.468
83     1089.000
84     5312.468
85     1234.000
86     3000.000
87     3000.000
88     3030.000
89     5000.000
90     5312.468
91     5312.468
92     3045.000
93     3184.000
94     4824.000
95     5835.000
96     7084.000
97     8943.000
98     8345.000
99     9284.000
100    5312.468
101    2034.000
102    5312.468
103    2934.000
104    4034.000
105    5034.000
106    8202.000
107    9024.000
108    5312.468
109    5312.468
110    2300.000
111    3234.000
112    4324.000
113    5435.000
114    5555.000
115    8787.000
116    8787.000
117    9876.000
118    5312.468
119    1089.000
120    5312.468
121    1234.000
122    3234.000
123    3454.000
124    8787.000
125    5654.000
126    5009.000
127    5098.000
128    3045.000
129    3184.000
130    4824.000
131    5835.000
132    7084.000
133    8943.000
134    8345.000
135    9284.000
136    5312.468
137    2034.000
138    3033.000
139    2934.000
140    4034.000
141    5034.000
142    8202.000
143    9024.000
144    8787.000
145    4034.000
146    5034.000
147    8202.000
Name: Salary, dtype: float64

In [50]:
df['Country'].isnull().sum()

0

In [52]:
df['Place'].isnull().sum()

14

In [54]:
df

     Company   Age    Salary       Place Country  Gender
0        TCS  20.0  5312.468     Chennai   India       0
1    Infosys  30.0  5312.468      Mumbai   India       0
2        TCS  35.0  2300.000    Calcutta   India       0
3    Infosys  40.0  3000.000       Delhi   India       0
4        TCS  23.0  4000.000      Mumbai   India       0
5    Infosys  30.5  5000.000    Calcutta   India       0
6        TCS  30.5  6000.000     Chennai   India       1
7    Infosys  23.0  7000.000      Mumbai   India       1
8        TCS  34.0  8000.000    Calcutta   India       1
9        CTS  45.0  9000.000       Delhi   India       0
10       CTS  23.0  5312.468      Mumbai   India       0
11       CTS  34.0  1089.000    Calcutta   India       0
12       CTS  45.0  5312.468     Chennai   India       0
13       CTS  18.0  1234.000      Mumbai   India       0
14   Infosys  40.0  3000.000    Calcutta   India       0
15       TCS  23.0  3000.000       Delhi   India       0
16   Infosys  23.0  3030.000  Podicherry   India       0
17       TCS  34.0  5000.000      Cochin   India       0
18       TCS  22.0  5312.468     Chennai   India       0
19   Infosys  32.0  5312.468      Mumbai   India       0
20       TCS  37.0  3045.000    Calcutta   India       0
21   Infosys  50.0  3184.000       Delhi   India       0
22       TCS  21.0  4824.000      Mumbai   India       0
23   Infosys  30.5  5835.000      Cochin   India       0
24       TCS  30.5  7084.000     Chennai   India       1
25   Infosys  23.0  8943.000      Mumbai   India       1
26       TCS  34.0  8345.000    Calcutta   India       1
27       CTS  45.0  9284.000       Delhi   India       1
28       CTS  23.0  9876.000      Mumbai   India       1
29       CTS  35.0  2034.000      Cochin   India       0
30       CTS  46.0  7654.000     Chennai   India       0
31       CTS  20.0  2934.000      Mumbai   India       0
32   Infosys  45.0  4034.000    Calcutta   India       0
33       TCS  36.0  5034.000         NaN   India       0
34   Infosys  26.0  8202.000         NaN   India       0
35       TCS  35.0  9024.000         NaN   India       1
36       TCS  32.0  5312.468       Noida   India       0
37       TCS  35.0  5312.468   Hyderabad   India       0
38       TCS  34.0  2300.000    Calcutta   India       0
39   Infosys  41.0  3000.000      Mumbai   India       0
40       TCS  24.0  4345.000    Calcutta   India       0
41   Infosys  30.5  5000.000         NaN   India       0
42       TCS  30.5  6000.000         NaN   India       0
43   Infosys  25.0  7000.000         NaN   India       0
44       TCS  35.0  8000.000       Noida   India       1
45       CTS  46.0  9000.000   Hyderabad   India       1
46       CTS  24.0  5312.468    Calcutta   India       0
47       CTS  32.0  1089.000      Mumbai   India       0
48       CTS  43.0  5312.468      Mumbai   India       0
49       CTS  19.0  1234.000      Cochin   India       0
50   Infosys  41.0  3000.000     Chennai   India       0
51       TCS  24.0  3000.000      Mumbai   India       0
52   Infosys  21.0  3030.000    Calcutta   India       0
53       TCS  35.0  5000.000       Delhi   India       0
54       TCS  21.0  6544.000      Mumbai   India       0
55   Infosys  32.0  7654.000      Cochin   India       0
56       TCS  38.0  3045.000       Noida   India       0
57   Infosys  51.0  3184.000   Hyderabad   India       0
58       TCS  23.0  4824.000    Calcutta   India       0
59   Infosys  30.5  5835.000      Mumbai   India       0
60       TCS  30.5  7084.000    Calcutta   India       0
61       TCS  25.0  8943.000         NaN   India       1
62       TCS  36.0  8345.000         NaN   India       1
63       CTS  41.0  9284.000         NaN   India       1
64       TCS  25.0  6543.000       Noida   India       0
65       CTS  31.0  2034.000   Hyderabad   India       0
66       CTS  41.0  5312.468    Calcutta   India       0
67       CTS  21.0  2934.000      Mumbai   India       0
68   Infosys  43.0  4034.000      Mumbai   India       0
69       TCS  32.0  5034.000      Cochin   India       0
70   Infosys  21.0  8202.000     Chennai   India       0
71       TCS  34.0  9024.000      Mumbai   India       1
72       TCS  24.0  5312.468    Calcutta   India       0
73   Infosys  34.0  5312.468       Delhi   India       0
74       TCS  37.0  2300.000      Mumbai   India       0
75   Infosys  44.0  3000.000      Cochin   India       0
76       TCS  32.0  4000.000       Noida   India       0
77   Infosys  30.5  5000.000   Hyderabad   India       0
78       TCS  30.5  6000.000    Calcutta   India       0
79   Infosys  26.0  7000.000      Bhopal   India       0
80       TCS  32.0  8000.000      Nagpur   India       0
81       CTS  43.0  9000.000        Pune   India       1
82       CTS  22.0  5312.468        Pune   India       0
83       CTS  33.0  1089.000     Chennai   India       0
84       CTS  43.0  5312.468      Mumbai   India       0
85       CTS  17.0  1234.000    Calcutta   India       0
86   Infosys  41.0  3000.000       Delhi   India       0
87       TCS  21.0  3000.000      Mumbai   India       0
88   Infosys   0.0  3030.000    Calcutta   India       0
89       TCS  36.0  5000.000     Chennai   India       0
90       TCS  21.0  5312.468      Mumbai   India       0
91   Infosys  34.0  5312.468    Calcutta   India       0
92       TCS   0.0  3045.000       Delhi   India       0
93   Infosys  54.0  3184.000      Mumbai   India       0
94       TCS  22.0  4824.000    Calcutta   India       0
95   Infosys  30.5  5835.000     Chennai   India       0
96       TCS  30.5  7084.000      Mumbai   India       1
97   Infosys  22.0  8943.000    Calcutta   India       1
98       TCS  33.0  8345.000       Delhi   India       1
99       CTS  44.0  9284.000  Podicherry   India       1
100      CTS  22.0  5312.468      Cochin   India       0
101      CTS   0.0  2034.000  Podicherry   India       0
102      CTS  44.0  5312.468      Mumbai   India       0
103      CTS  22.0  2934.000    Calcutta   India       0
104  Infosys  44.0  4034.000       Delhi   India       0
105      TCS  33.0  5034.000      Mumbai   India       0
106  Infosys  22.0  8202.000      Cochin   India       1
107      TCS   0.0  9024.000     Chennai   India       1
108      TCS  33.0  5312.468      Mumbai   India       0
109      TCS  33.0  5312.468    Calcutta   India       0
110      TCS  33.0  2300.000       Delhi   India       0
111  Infosys   0.0  3234.000      Mumbai   India       0
112      TCS  22.0  4324.000      Cochin   India       0
113  Infosys  30.5  5435.000     Chennai   India       0
114      TCS  30.5  5555.000      Mumbai   India       0
115  Infosys  22.0  8787.000    Calcutta   India       0
116      TCS  33.0  8787.000         NaN   India       1
117      CTS  44.0  9876.000         NaN   India       1
118      CTS  22.0  5312.468         NaN   India       0
119      CTS  33.0  1089.000       Noida   India       0
120      CTS  44.0  5312.468   Hyderabad   India       0
121      CTS   0.0  1234.000    Calcutta   India       0
122  Infosys  44.0  3234.000      Mumbai   India       0
123      TCS  30.5  3454.000    Calcutta   India       0
124  Infosys  22.0  8787.000    Calcutta   India       1
125      TCS  33.0  5654.000         NaN   India       1
126      TCS  20.0  5009.000         NaN   India       1
127  Infosys  30.0  5098.000       Noida   India       0
128      TCS  33.0  3045.000   Hyderabad   India       0
129  Infosys  50.0  3184.000    Calcutta   India       0
130      TCS  21.0  4824.000      Mumbai   India       0
131  Infosys  30.5  5835.000      Mumbai   India       0
132      TCS  30.5  7084.000      Cochin   India       1
133      TCS  22.0  8943.000     Chennai   India       0
134      TCS  31.0  8345.000      Mumbai   India       0
135      CTS  40.0  9284.000    Calcutta   India       1
136      TCS  30.5  5312.468       Delhi   India       0
137      CTS  31.0  2034.000      Mumbai   India       0
138      CTS  44.0  3033.000      Cochin   India       0
139      CTS  22.0  2934.000       Noida   India       0
140  Infosys  44.0  4034.000   Hyderabad   India       0
141      TCS  33.0  5034.000    Calcutta   India       0
142  Infosys  22.0  8202.000      Mumbai   India       0
143      TCS  33.0  9024.000    Calcutta   India       1
144  Infosys  22.0  8787.000    Calcutta   India       1
145  Infosys  44.0  4034.000       Delhi   India       1
146      TCS  33.0  5034.000      Mumbai   India       1
147  Infosys  22.0  8202.000      Cochin   India       0

In [55]:
df=df.dropna(subset=['Place'])

In [56]:
df.count()

Company    134
Age        134
Salary     134
Place      134
Country    134
Gender     134
dtype: int64

In [61]:
df=df.drop(columns=['Country','Gender'])

In [62]:
df

     Company   Age    Salary       Place
0        TCS  20.0  5312.468     Chennai
1    Infosys  30.0  5312.468      Mumbai
2        TCS  35.0  2300.000    Calcutta
3    Infosys  40.0  3000.000       Delhi
4        TCS  23.0  4000.000      Mumbai
5    Infosys  30.5  5000.000    Calcutta
6        TCS  30.5  6000.000     Chennai
7    Infosys  23.0  7000.000      Mumbai
8        TCS  34.0  8000.000    Calcutta
9        CTS  45.0  9000.000       Delhi
10       CTS  23.0  5312.468      Mumbai
11       CTS  34.0  1089.000    Calcutta
12       CTS  45.0  5312.468     Chennai
13       CTS  18.0  1234.000      Mumbai
14   Infosys  40.0  3000.000    Calcutta
15       TCS  23.0  3000.000       Delhi
16   Infosys  23.0  3030.000  Podicherry
17       TCS  34.0  5000.000      Cochin
18       TCS  22.0  5312.468     Chennai
19   Infosys  32.0  5312.468      Mumbai
20       TCS  37.0  3045.000    Calcutta
21   Infosys  50.0  3184.000       Delhi
22       TCS  21.0  4824.000      Mumbai
23   Infosys  30.5  5835.000      Cochin
24       TCS  30.5  7084.000     Chennai
25   Infosys  23.0  8943.000      Mumbai
26       TCS  34.0  8345.000    Calcutta
27       CTS  45.0  9284.000       Delhi
28       CTS  23.0  9876.000      Mumbai
29       CTS  35.0  2034.000      Cochin
30       CTS  46.0  7654.000     Chennai
31       CTS  20.0  2934.000      Mumbai
32   Infosys  45.0  4034.000    Calcutta
36       TCS  32.0  5312.468       Noida
37       TCS  35.0  5312.468   Hyderabad
38       TCS  34.0  2300.000    Calcutta
39   Infosys  41.0  3000.000      Mumbai
40       TCS  24.0  4345.000    Calcutta
44       TCS  35.0  8000.000       Noida
45       CTS  46.0  9000.000   Hyderabad
46       CTS  24.0  5312.468    Calcutta
47       CTS  32.0  1089.000      Mumbai
48       CTS  43.0  5312.468      Mumbai
49       CTS  19.0  1234.000      Cochin
50   Infosys  41.0  3000.000     Chennai
51       TCS  24.0  3000.000      Mumbai
52   Infosys  21.0  3030.000    Calcutta
53       TCS  35.0  5000.000       Delhi
54       TCS  21.0  6544.000      Mumbai
55   Infosys  32.0  7654.000      Cochin
56       TCS  38.0  3045.000       Noida
57   Infosys  51.0  3184.000   Hyderabad
58       TCS  23.0  4824.000    Calcutta
59   Infosys  30.5  5835.000      Mumbai
60       TCS  30.5  7084.000    Calcutta
64       TCS  25.0  6543.000       Noida
65       CTS  31.0  2034.000   Hyderabad
66       CTS  41.0  5312.468    Calcutta
67       CTS  21.0  2934.000      Mumbai
68   Infosys  43.0  4034.000      Mumbai
69       TCS  32.0  5034.000      Cochin
70   Infosys  21.0  8202.000     Chennai
71       TCS  34.0  9024.000      Mumbai
72       TCS  24.0  5312.468    Calcutta
73   Infosys  34.0  5312.468       Delhi
74       TCS  37.0  2300.000      Mumbai
75   Infosys  44.0  3000.000      Cochin
76       TCS  32.0  4000.000       Noida
77   Infosys  30.5  5000.000   Hyderabad
78       TCS  30.5  6000.000    Calcutta
79   Infosys  26.0  7000.000      Bhopal
80       TCS  32.0  8000.000      Nagpur
81       CTS  43.0  9000.000        Pune
82       CTS  22.0  5312.468        Pune
83       CTS  33.0  1089.000     Chennai
84       CTS  43.0  5312.468      Mumbai
85       CTS  17.0  1234.000    Calcutta
86   Infosys  41.0  3000.000       Delhi
87       TCS  21.0  3000.000      Mumbai
88   Infosys   0.0  3030.000    Calcutta
89       TCS  36.0  5000.000     Chennai
90       TCS  21.0  5312.468      Mumbai
91   Infosys  34.0  5312.468    Calcutta
92       TCS   0.0  3045.000       Delhi
93   Infosys  54.0  3184.000      Mumbai
94       TCS  22.0  4824.000    Calcutta
95   Infosys  30.5  5835.000     Chennai
96       TCS  30.5  7084.000      Mumbai
97   Infosys  22.0  8943.000    Calcutta
98       TCS  33.0  8345.000       Delhi
99       CTS  44.0  9284.000  Podicherry
100      CTS  22.0  5312.468      Cochin
101      CTS   0.0  2034.000  Podicherry
102      CTS  44.0  5312.468      Mumbai
103      CTS  22.0  2934.000    Calcutta
104  Infosys  44.0  4034.000       Delhi
105      TCS  33.0  5034.000      Mumbai
106  Infosys  22.0  8202.000      Cochin
107      TCS   0.0  9024.000     Chennai
108      TCS  33.0  5312.468      Mumbai
109      TCS  33.0  5312.468    Calcutta
110      TCS  33.0  2300.000       Delhi
111  Infosys   0.0  3234.000      Mumbai
112      TCS  22.0  4324.000      Cochin
113  Infosys  30.5  5435.000     Chennai
114      TCS  30.5  5555.000      Mumbai
115  Infosys  22.0  8787.000    Calcutta
119      CTS  33.0  1089.000       Noida
120      CTS  44.0  5312.468   Hyderabad
121      CTS   0.0  1234.000    Calcutta
122  Infosys  44.0  3234.000      Mumbai
123      TCS  30.5  3454.000    Calcutta
124  Infosys  22.0  8787.000    Calcutta
127  Infosys  30.0  5098.000       Noida
128      TCS  33.0  3045.000   Hyderabad
129  Infosys  50.0  3184.000    Calcutta
130      TCS  21.0  4824.000      Mumbai
131  Infosys  30.5  5835.000      Mumbai
132      TCS  30.5  7084.000      Cochin
133      TCS  22.0  8943.000     Chennai
134      TCS  31.0  8345.000      Mumbai
135      CTS  40.0  9284.000    Calcutta
136      TCS  30.5  5312.468       Delhi
137      CTS  31.0  2034.000      Mumbai
138      CTS  44.0  3033.000      Cochin
139      CTS  22.0  2934.000       Noida
140  Infosys  44.0  4034.000   Hyderabad
141      TCS  33.0  5034.000    Calcutta
142  Infosys  22.0  8202.000      Mumbai
143      TCS  33.0  9024.000    Calcutta
144  Infosys  22.0  8787.000    Calcutta
145  Infosys  44.0  4034.000       Delhi
146      TCS  33.0  5034.000      Mumbai
147  Infosys  22.0  8202.000      Cochin

In [64]:
def get_language(city):
    if city in ['Chennai','Podicherry']:
        return "Tamizh"
    elif city in ["Mumbai","Delhi"]:
        return "Hindi"
    elif city=="Calcutta":
        return "Bengali"
    elif city=='Cochin':
        return "Malayalam"
    elif city=='Hyderabad':
        return 'Telugu'
    else:
        return "HINDI"

In [65]:
df['Language']=df['Place'].apply(get_language)

In [66]:
df.head(20)

    Company   Age    Salary       Place   Language
0       TCS  20.0  5312.468     Chennai     Tamizh
1   Infosys  30.0  5312.468      Mumbai      Hindi
2       TCS  35.0  2300.000    Calcutta    Bengali
3   Infosys  40.0  3000.000       Delhi      Hindi
4       TCS  23.0  4000.000      Mumbai      Hindi
5   Infosys  30.5  5000.000    Calcutta    Bengali
6       TCS  30.5  6000.000     Chennai     Tamizh
7   Infosys  23.0  7000.000      Mumbai      Hindi
8       TCS  34.0  8000.000    Calcutta    Bengali
9       CTS  45.0  9000.000       Delhi      Hindi
10      CTS  23.0  5312.468      Mumbai      Hindi
11      CTS  34.0  1089.000    Calcutta    Bengali
12      CTS  45.0  5312.468     Chennai     Tamizh
13      CTS  18.0  1234.000      Mumbai      Hindi
14  Infosys  40.0  3000.000    Calcutta    Bengali
15      TCS  23.0  3000.000       Delhi      Hindi
16  Infosys  23.0  3030.000  Podicherry     Tamizh
17      TCS  34.0  5000.000      Cochin  Malayalam
18      TCS  22.0  5312.468     Chennai     Tamizh
19  Infosys  32.0  5312.468      Mumbai      Hindi

In [67]:
df['Bonus']=df['Salary'].apply(lambda x: round(.2*x))

In [68]:
df.head(20)

    Company   Age    Salary       Place   Language  Bonus
0       TCS  20.0  5312.468     Chennai     Tamizh   1062
1   Infosys  30.0  5312.468      Mumbai      Hindi   1062
2       TCS  35.0  2300.000    Calcutta    Bengali    460
3   Infosys  40.0  3000.000       Delhi      Hindi    600
4       TCS  23.0  4000.000      Mumbai      Hindi    800
5   Infosys  30.5  5000.000    Calcutta    Bengali   1000
6       TCS  30.5  6000.000     Chennai     Tamizh   1200
7   Infosys  23.0  7000.000      Mumbai      Hindi   1400
8       TCS  34.0  8000.000    Calcutta    Bengali   1600
9       CTS  45.0  9000.000       Delhi      Hindi   1800
10      CTS  23.0  5312.468      Mumbai      Hindi   1062
11      CTS  34.0  1089.000    Calcutta    Bengali    218
12      CTS  45.0  5312.468     Chennai     Tamizh   1062
13      CTS  18.0  1234.000      Mumbai      Hindi    247
14  Infosys  40.0  3000.000    Calcutta    Bengali    600
15      TCS  23.0  3000.000       Delhi      Hindi    600
16  Infosys  23.0  3030.000  Podicherry     Tamizh    606
17      TCS  34.0  5000.000      Cochin  Malayalam   1000
18      TCS  22.0  5312.468     Chennai     Tamizh   1062
19  Infosys  32.0  5312.468      Mumbai      Hindi   1062

In [69]:
df[df['Place']=='Chennai']

     Company   Age    Salary    Place Language  Bonus
0        TCS  20.0  5312.468  Chennai   Tamizh   1062
6        TCS  30.5  6000.000  Chennai   Tamizh   1200
12       CTS  45.0  5312.468  Chennai   Tamizh   1062
18       TCS  22.0  5312.468  Chennai   Tamizh   1062
24       TCS  30.5  7084.000  Chennai   Tamizh   1417
30       CTS  46.0  7654.000  Chennai   Tamizh   1531
50   Infosys  41.0  3000.000  Chennai   Tamizh    600
70   Infosys  21.0  8202.000  Chennai   Tamizh   1640
83       CTS  33.0  1089.000  Chennai   Tamizh    218
89       TCS  36.0  5000.000  Chennai   Tamizh   1000
95   Infosys  30.5  5835.000  Chennai   Tamizh   1167
107      TCS   0.0  9024.000  Chennai   Tamizh   1805
113  Infosys  30.5  5435.000  Chennai   Tamizh   1087
133      TCS  22.0  8943.000  Chennai   Tamizh   1789

In [72]:
df[(df['Company']=='TCS') & (df['Salary']>8000)]

    Company   Age  Salary     Place Language  Bonus
26      TCS  34.0  8345.0  Calcutta  Bengali   1669
71      TCS  34.0  9024.0    Mumbai    Hindi   1805
98      TCS  33.0  8345.0     Delhi    Hindi   1669
107     TCS   0.0  9024.0   Chennai   Tamizh   1805
133     TCS  22.0  8943.0   Chennai   Tamizh   1789
134     TCS  31.0  8345.0    Mumbai    Hindi   1669
143     TCS  33.0  9024.0  Calcutta  Bengali   1805

In [73]:
df[(df['Company']=='TCS') & (df['Salary']>8000) & (df['Place'] != 'Mumbai')]

    Company   Age  Salary     Place Language  Bonus
26      TCS  34.0  8345.0  Calcutta  Bengali   1669
98      TCS  33.0  8345.0     Delhi    Hindi   1669
107     TCS   0.0  9024.0   Chennai   Tamizh   1805
133     TCS  22.0  8943.0   Chennai   Tamizh   1789
143     TCS  33.0  9024.0  Calcutta  Bengali   1805

In [76]:
df[(df['Language']=='Tamizh') | (df['Language']=='Telugu')]

     Company   Age    Salary       Place Language  Bonus
0        TCS  20.0  5312.468     Chennai   Tamizh   1062
6        TCS  30.5  6000.000     Chennai   Tamizh   1200
12       CTS  45.0  5312.468     Chennai   Tamizh   1062
16   Infosys  23.0  3030.000  Podicherry   Tamizh    606
18       TCS  22.0  5312.468     Chennai   Tamizh   1062
24       TCS  30.5  7084.000     Chennai   Tamizh   1417
30       CTS  46.0  7654.000     Chennai   Tamizh   1531
37       TCS  35.0  5312.468   Hyderabad   Telugu   1062
45       CTS  46.0  9000.000   Hyderabad   Telugu   1800
50   Infosys  41.0  3000.000     Chennai   Tamizh    600
57   Infosys  51.0  3184.000   Hyderabad   Telugu    637
65       CTS  31.0  2034.000   Hyderabad   Telugu    407
70   Infosys  21.0  8202.000     Chennai   Tamizh   1640
77   Infosys  30.5  5000.000   Hyderabad   Telugu   1000
83       CTS  33.0  1089.000     Chennai   Tamizh    218
89       TCS  36.0  5000.000     Chennai   Tamizh   1000
95   Infosys  30.5  5835.000     Chennai   Tamizh   1167
99       CTS  44.0  9284.000  Podicherry   Tamizh   1857
101      CTS   0.0  2034.000  Podicherry   Tamizh    407
107      TCS   0.0  9024.000     Chennai   Tamizh   1805
113  Infosys  30.5  5435.000     Chennai   Tamizh   1087
120      CTS  44.0  5312.468   Hyderabad   Telugu   1062
128      TCS  33.0  3045.000   Hyderabad   Telugu    609
133      TCS  22.0  8943.000     Chennai   Tamizh   1789
140  Infosys  44.0  4034.000   Hyderabad   Telugu    807

In [77]:
df.head()

   Company   Age    Salary     Place Language  Bonus
0      TCS  20.0  5312.468   Chennai   Tamizh   1062
1  Infosys  30.0  5312.468    Mumbai    Hindi   1062
2      TCS  35.0  2300.000  Calcutta  Bengali    460
3  Infosys  40.0  3000.000     Delhi    Hindi    600
4      TCS  23.0  4000.000    Mumbai    Hindi    800

In [78]:
df.iloc[100:110, :]

     Company   Age    Salary      Place   Language  Bonus
109      TCS  33.0  5312.468   Calcutta    Bengali   1062
110      TCS  33.0  2300.000      Delhi      Hindi    460
111  Infosys   0.0  3234.000     Mumbai      Hindi    647
112      TCS  22.0  4324.000     Cochin  Malayalam    865
113  Infosys  30.5  5435.000    Chennai     Tamizh   1087
114      TCS  30.5  5555.000     Mumbai      Hindi   1111
115  Infosys  22.0  8787.000   Calcutta    Bengali   1757
119      CTS  33.0  1089.000      Noida      HINDI    218
120      CTS  44.0  5312.468  Hyderabad     Telugu   1062
121      CTS   0.0  1234.000   Calcutta    Bengali    247

In [79]:
df=df.reset_index()

In [80]:
df.iloc[100:110, :]

     index  Company   Age    Salary      Place   Language  Bonus
100    109      TCS  33.0  5312.468   Calcutta    Bengali   1062
101    110      TCS  33.0  2300.000      Delhi      Hindi    460
102    111  Infosys   0.0  3234.000     Mumbai      Hindi    647
103    112      TCS  22.0  4324.000     Cochin  Malayalam    865
104    113  Infosys  30.5  5435.000    Chennai     Tamizh   1087
105    114      TCS  30.5  5555.000     Mumbai      Hindi   1111
106    115  Infosys  22.0  8787.000   Calcutta    Bengali   1757
107    119      CTS  33.0  1089.000      Noida      HINDI    218
108    120      CTS  44.0  5312.468  Hyderabad     Telugu   1062
109    121      CTS   0.0  1234.000   Calcutta    Bengali    247

In [81]:
df.iloc[100:110, 1:4]

     Company   Age    Salary
100      TCS  33.0  5312.468
101      TCS  33.0  2300.000
102  Infosys   0.0  3234.000
103      TCS  22.0  4324.000
104  Infosys  30.5  5435.000
105      TCS  30.5  5555.000
106  Infosys  22.0  8787.000
107      CTS  33.0  1089.000
108      CTS  44.0  5312.468
109      CTS   0.0  1234.000

In [82]:
df.loc[100:110,['Place','Company','Salary','Bonus']]

         Place  Company    Salary  Bonus
100   Calcutta      TCS  5312.468   1062
101      Delhi      TCS  2300.000    460
102     Mumbai  Infosys  3234.000    647
103     Cochin      TCS  4324.000    865
104    Chennai  Infosys  5435.000   1087
105     Mumbai      TCS  5555.000   1111
106   Calcutta  Infosys  8787.000   1757
107      Noida      CTS  1089.000    218
108  Hyderabad      CTS  5312.468   1062
109   Calcutta      CTS  1234.000    247
110     Mumbai  Infosys  3234.000    647

In [83]:
df['total_salary']=df['Salary']+df['Bonus']

In [84]:
df.loc[100:110,['Place','Company','Salary','Bonus','total_salary']]

         Place  Company    Salary  Bonus  total_salary
100   Calcutta      TCS  5312.468   1062      6374.468
101      Delhi      TCS  2300.000    460      2760.000
102     Mumbai  Infosys  3234.000    647      3881.000
103     Cochin      TCS  4324.000    865      5189.000
104    Chennai  Infosys  5435.000   1087      6522.000
105     Mumbai      TCS  5555.000   1111      6666.000
106   Calcutta  Infosys  8787.000   1757     10544.000
107      Noida      CTS  1089.000    218      1307.000
108  Hyderabad      CTS  5312.468   1062      6374.468
109   Calcutta      CTS  1234.000    247      1481.000
110     Mumbai  Infosys  3234.000    647      3881.000

In [85]:
df

,index,Company,Age,Salary,Place,Language,Bonus,total_salary
0,0,TCS,20.0,5312.468,Chennai,Tamizh,1062,6374.468
1,1,Infosys,30.0,5312.468,Mumbai,Hindi,1062,6374.468
2,2,TCS,35.0,2300.000,Calcutta,Bengali,460,2760.000
3,3,Infosys,40.0,3000.000,Delhi,Hindi,600,3600.000
4,4,TCS,23.0,4000.000,Mumbai,Hindi,800,4800.000
5,5,Infosys,30.5,5000.000,Calcutta,Bengali,1000,6000.000
6,6,TCS,30.5,6000.000,Chennai,Tamizh,1200,7200.000
7,7,Infosys,23.0,7000.000,Mumbai,Hindi,1400,8400.000
8,8,TCS,34.0,8000.000,Calcutta,Bengali,1600,9600.000
9,9,CTS,45.0,9000.000,Delhi,Hindi,1800,10800.000
10,10,CTS,23.0,5312.468,Mumbai,Hindi,1062,6374.468
11,11,CTS,34.0,1089.000,Calcutta,Bengali,218,1307.000
12,12,CTS,45.0,5312.468,Chennai,Tamizh,1062,6374.468
13,13,CTS,18.0,1234.000,Mumbai,Hindi,247,1481.000
14,14,Infosys,40.0,3000.000,Calcutta,Bengali,600,3600.000
15,15,TCS,23.0,3000.000,Delhi,Hindi,600,3600.000
16,16,Infosys,23.0,3030.000,Podicherry,Tamizh,606,3636.000
17,17,TCS,34.0,5000.000,Cochin,Malayalam,1000,6000.000
18,18,TCS,22.0,5312.468,Chennai,Tamizh,1062,6374.468
19,19,Infosys,32.0,5312.468,Mumbai,Hindi,1062,6374.468
20,20,TCS,37.0,3045.000,Calcutta,Bengali,609,3654.000
21,21,Infosys,50.0,3184.000,Delhi,Hindi,637,3821.000
22,22,TCS,21.0,4824.000,Mumbai,Hindi,965,5789.000
23,23,Infosys,30.5,5835.000,Cochin,Malayalam,1167,7002.000
24,24,TCS,30.5,7084.000,Chennai,Tamizh,1417,8501.000
25,25,Infosys,23.0,8943.000,Mumbai,Hindi,1789,10732.000
26,26,TCS,34.0,8345.000,Calcutta,Bengali,1669,10014.000
27,27,CTS,45.0,9284.000,Delhi,Hindi,1857,11141.000
28,28,CTS,23.0,9876.000,Mumbai,Hindi,1975,11851.000
29,29,CTS,35.0,2034.000,Cochin,Malayalam,407,2441.000
30,30,CTS,46.0,7654.000,Chennai,Tamizh,1531,9185.000
31,31,CTS,20.0,2934.000,Mumbai,Hindi,587,3521.000
32,32,Infosys,45.0,4034.000,Calcutta,Bengali,807,4841.000
33,36,TCS,32.0,5312.468,Noida,HINDI,1062,6374.468
34,37,TCS,35.0,5312.468,Hyderabad,Telugu,1062,6374.468
35,38,TCS,34.0,2300.000,Calcutta,Bengali,460,2760.000
36,39,Infosys,41.0,3000.000,Mumbai,Hindi,600,3600.000
37,40,TCS,24.0,4345.000,Calcutta,Bengali,869,5214.000
38,44,TCS,35.0,8000.000,Noida,HINDI,1600,9600.000
39,45,CTS,46.0,9000.000,Hyderabad,Telugu,1800,10800.000
40,46,CTS,24.0,5312.468,Calcutta,Bengali,1062,6374.468
41,47,CTS,32.0,1089.000,Mumbai,Hindi,218,1307.000
42,48,CTS,43.0,5312.468,Mumbai,Hindi,1062,6374.468
43,49,CTS,19.0,1234.000,Cochin,Malayalam,247,1481.000
44,50,Infosys,41.0,3000.000,Chennai,Tamizh,600,3600.000
45,51,TCS,24.0,3000.000,Mumbai,Hindi,600,3600.000
46,52,Infosys,21.0,3030.000,Calcutta,Bengali,606,3636.000
47,53,TCS,35.0,5000.000,Delhi,Hindi,1000,6000.000
48,54,TCS,21.0,6544.000,Mumbai,Hindi,1309,7853.000
49,55,Infosys,32.0,7654.000,Cochin,Malayalam,1531,9185.000
50,56,TCS,38.0,3045.000,Noida,HINDI,609,3654.000
51,57,Infosys,51.0,3184.000,Hyderabad,Telugu,637,3821.000
52,58,TCS,23.0,4824.000,Calcutta,Bengali,965,5789.000
53,59,Infosys,30.5,5835.000,Mumbai,Hindi,1167,7002.000
54,60,TCS,30.5,7084.000,Calcutta,Bengali,1417,8501.000
55,64,TCS,25.0,6543.000,Noida,HINDI,1309,7852.000
56,65,CTS,31.0,2034.000,Hyderabad,Telugu,407,2441.000
57,66,CTS,41.0,5312.468,Calcutta,Bengali,1062,6374.468
58,67,CTS,21.0,2934.000,Mumbai,Hindi,587,3521.000
59,68,Infosys,43.0,4034.000,Mumbai,Hindi,807,4841.000
60,69,TCS,32.0,5034.000,Cochin,Malayalam,1007,6041.000
61,70,Infosys,21.0,8202.000,Chennai,Tamizh,1640,9842.000
62,71,TCS,34.0,9024.000,Mumbai,Hindi,1805,10829.000
63,72,TCS,24.0,5312.468,Calcutta,Bengali,1062,6374.468
64,73,Infosys,34.0,5312.468,Delhi,Hindi,1062,6374.468
65,74,TCS,37.0,2300.000,Mumbai,Hindi,460,2760.000
66,75,Infosys,44.0,3000.000,Cochin,Malayalam,600,3600.000
67,76,TCS,32.0,4000.000,Noida,HINDI,800,4800.000
68,77,Infosys,30.5,5000.000,Hyderabad,Telugu,1000,6000.000
69,78,TCS,30.5,6000.000,Calcutta,Bengali,1200,7200.000
70,79,Infosys,26.0,7000.000,Bhopal,HINDI,1400,8400.000
71,80,TCS,32.0,8000.000,Nagpur,HINDI,1600,9600.000
72,81,CTS,43.0,9000.000,Pune,HINDI,1800,10800.000
73,82,CTS,22.0,5312.468,Pune,HINDI,1062,6374.468
74,83,CTS,33.0,1089.000,Chennai,Tamizh,218,1307.000
75,84,CTS,43.0,5312.468,Mumbai,Hindi,1062,6374.468
76,85,CTS,17.0,1234.000,Calcutta,Bengali,247,1481.000
77,86,Infosys,41.0,3000.000,Delhi,Hindi,600,3600.000
78,87,TCS,21.0,3000.000,Mumbai,Hindi,600,3600.000
79,88,Infosys,0.0,3030.000,Calcutta,Bengali,606,3636.000
80,89,TCS,36.0,5000.000,Chennai,Tamizh,1000,6000.000
81,90,TCS,21.0,5312.468,Mumbai,Hindi,1062,6374.468
82,91,Infosys,34.0,5312.468,Calcutta,Bengali,1062,6374.468
83,92,TCS,0.0,3045.000,Delhi,Hindi,609,3654.000
84,93,Infosys,54.0,3184.000,Mumbai,Hindi,637,3821.000
85,94,TCS,22.0,4824.000,Calcutta,Bengali,965,5789.000
86,95,Infosys,30.5,5835.000,Chennai,Tamizh,1167,7002.000
87,96,TCS,30.5,7084.000,Mumbai,Hindi,1417,8501.000
88,97,Infosys,22.0,8943.000,Calcutta,Bengali,1789,10732.000
89,98,TCS,33.0,8345.000,Delhi,Hindi,1669,10014.000
90,99,CTS,44.0,9284.000,Podicherry,Tamizh,1857,11141.000
91,100,CTS,22.0,5312.468,Cochin,Malayalam,1062,6374.468
92,101,CTS,0.0,2034.000,Podicherry,Tamizh,407,2441.000
93,102,CTS,44.0,5312.468,Mumbai,Hindi,1062,6374.468
94,103,CTS,22.0,2934.000,Calcutta,Bengali,587,3521.000
95,104,Infosys,44.0,4034.000,Delhi,Hindi,807,4841.000
96,105,TCS,33.0,5034.000,Mumbai,Hindi,1007,6041.000
97,106,Infosys,22.0,8202.000,Cochin,Malayalam,1640,9842.000
98,107,TCS,0.0,9024.000,Chennai,Tamizh,1805,10829.000
99,108,TCS,33.0,5312.468,Mumbai,Hindi,1062,6374.468
100,109,TCS,33.0,5312.468,Calcutta,Bengali,1062,6374.468
101,110,TCS,33.0,2300.000,Delhi,Hindi,460,2760.000
102,111,Infosys,0.0,3234.000,Mumbai,Hindi,647,3881.000
103,112,TCS,22.0,4324.000,Cochin,Malayalam,865,5189.000
104,113,Infosys,30.5,5435.000,Chennai,Tamizh,1087,6522.000
105,114,TCS,30.5,5555.000,Mumbai,Hindi,1111,6666.000
106,115,Infosys,22.0,8787.000,Calcutta,Bengali,1757,10544.000
107,119,CTS,33.0,1089.000,Noida,HINDI,218,1307.000
108,120,CTS,44.0,5312.468,Hyderabad,Telugu,1062,6374.468
109,121,CTS,0.0,1234.000,Calcutta,Bengali,247,1481.000
110,122,Infosys,44.0,3234.000,Mumbai,Hindi,647,3881.000
111,123,TCS,30.5,3454.000,Calcutta,Bengali,691,4145.000
112,124,Infosys,22.0,8787.000,Calcutta,Bengali,1757,10544.000
113,127,Infosys,30.0,5098.000,Noida,HINDI,1020,6118.000
114,128,TCS,33.0,3045.000,Hyderabad,Telugu,609,3654.000
115,129,Infosys,50.0,3184.000,Calcutta,Bengali,637,3821.000
116,130,TCS,21.0,4824.000,Mumbai,Hindi,965,5789.000
117,131,Infosys,30.5,5835.000,Mumbai,Hindi,1167,7002.000
118,132,TCS,30.5,7084.000,Cochin,Malayalam,1417,8501.000
119,133,TCS,22.0,8943.000,Chennai,Tamizh,1789,10732.000
120,134,TCS,31.0,8345.000,Mumbai,Hindi,1669,10014.000
121,135,CTS,40.0,9284.000,Calcutta,Bengali,1857,11141.000
122,136,TCS,30.5,5312.468,Delhi,Hindi,1062,6374.468
123,137,CTS,31.0,2034.000,Mumbai,Hindi,407,2441.000
124,138,CTS,44.0,3033.000,Cochin,Malayalam,607,3640.000
125,139,CTS,22.0,2934.000,Noida,HINDI,587,3521.000
126,140,Infosys,44.0,4034.000,Hyderabad,Telugu,807,4841.000
127,141,TCS,33.0,5034.000,Calcutta,Bengali,1007,6041.000
128,142,Infosys,22.0,8202.000,Mumbai,Hindi,1640,9842.000
129,143,TCS,33.0,9024.000,Calcutta,Bengali,1805,10829.000
130,144,Infosys,22.0,8787.000,Calcutta,Bengali,1757,10544.000
131,145,Infosys,44.0,4034.000,Delhi,Hindi,807,4841.000
132,146,TCS,33.0,5034.000,Mumbai,Hindi,1007,6041.000
133,147,Infosys,22.0,8202.000,Cochin,Malayalam,1640,9842.000

In [89]:
df=df.rename(columns={'Place':'City','total_salary':'Revised_Salary'})

In [92]:
df=df.drop(columns=['index'])

In [93]:
df

     Company   Age    Salary        City   Language  Bonus  Revised_Salary
0        TCS  20.0  5312.468     Chennai     Tamizh   1062        6374.468
1    Infosys  30.0  5312.468      Mumbai      Hindi   1062        6374.468
2        TCS  35.0  2300.000    Calcutta    Bengali    460        2760.000
3    Infosys  40.0  3000.000       Delhi      Hindi    600        3600.000
4        TCS  23.0  4000.000      Mumbai      Hindi    800        4800.000
5    Infosys  30.5  5000.000    Calcutta    Bengali   1000        6000.000
6        TCS  30.5  6000.000     Chennai     Tamizh   1200        7200.000
7    Infosys  23.0  7000.000      Mumbai      Hindi   1400        8400.000
8        TCS  34.0  8000.000    Calcutta    Bengali   1600        9600.000
9        CTS  45.0  9000.000       Delhi      Hindi   1800       10800.000
10       CTS  23.0  5312.468      Mumbai      Hindi   1062        6374.468
11       CTS  34.0  1089.000    Calcutta    Bengali    218        1307.000
12       CTS  45.0  5312.468     Chennai     Tamizh   1062        6374.468
13       CTS  18.0  1234.000      Mumbai      Hindi    247        1481.000
14   Infosys  40.0  3000.000    Calcutta    Bengali    600        3600.000
15       TCS  23.0  3000.000       Delhi      Hindi    600        3600.000
16   Infosys  23.0  3030.000  Podicherry     Tamizh    606        3636.000
17       TCS  34.0  5000.000      Cochin  Malayalam   1000        6000.000
18       TCS  22.0  5312.468     Chennai     Tamizh   1062        6374.468
19   Infosys  32.0  5312.468      Mumbai      Hindi   1062        6374.468
20       TCS  37.0  3045.000    Calcutta    Bengali    609        3654.000
21   Infosys  50.0  3184.000       Delhi      Hindi    637        3821.000
22       TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
23   Infosys  30.5  5835.000      Cochin  Malayalam   1167        7002.000
24       TCS  30.5  7084.000     Chennai     Tamizh   1417        8501.000
25   Infosys  23.0  8943.000      Mumbai      Hindi   1789       10732.000
26       TCS  34.0  8345.000    Calcutta    Bengali   1669       10014.000
27       CTS  45.0  9284.000       Delhi      Hindi   1857       11141.000
28       CTS  23.0  9876.000      Mumbai      Hindi   1975       11851.000
29       CTS  35.0  2034.000      Cochin  Malayalam    407        2441.000
30       CTS  46.0  7654.000     Chennai     Tamizh   1531        9185.000
31       CTS  20.0  2934.000      Mumbai      Hindi    587        3521.000
32   Infosys  45.0  4034.000    Calcutta    Bengali    807        4841.000
33       TCS  32.0  5312.468       Noida      HINDI   1062        6374.468
34       TCS  35.0  5312.468   Hyderabad     Telugu   1062        6374.468
35       TCS  34.0  2300.000    Calcutta    Bengali    460        2760.000
36   Infosys  41.0  3000.000      Mumbai      Hindi    600        3600.000
37       TCS  24.0  4345.000    Calcutta    Bengali    869        5214.000
38       TCS  35.0  8000.000       Noida      HINDI   1600        9600.000
39       CTS  46.0  9000.000   Hyderabad     Telugu   1800       10800.000
40       CTS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
41       CTS  32.0  1089.000      Mumbai      Hindi    218        1307.000
42       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
43       CTS  19.0  1234.000      Cochin  Malayalam    247        1481.000
44   Infosys  41.0  3000.000     Chennai     Tamizh    600        3600.000
45       TCS  24.0  3000.000      Mumbai      Hindi    600        3600.000
46   Infosys  21.0  3030.000    Calcutta    Bengali    606        3636.000
47       TCS  35.0  5000.000       Delhi      Hindi   1000        6000.000
48       TCS  21.0  6544.000      Mumbai      Hindi   1309        7853.000
49   Infosys  32.0  7654.000      Cochin  Malayalam   1531        9185.000
50       TCS  38.0  3045.000       Noida      HINDI    609        3654.000
51   Infosys  51.0  3184.000   Hyderabad     Telugu    637        3821.000
52       TCS  23.0  4824.000    Calcutta    Bengali    965        5789.000
53   Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
54       TCS  30.5  7084.000    Calcutta    Bengali   1417        8501.000
55       TCS  25.0  6543.000       Noida      HINDI   1309        7852.000
56       CTS  31.0  2034.000   Hyderabad     Telugu    407        2441.000
57       CTS  41.0  5312.468    Calcutta    Bengali   1062        6374.468
58       CTS  21.0  2934.000      Mumbai      Hindi    587        3521.000
59   Infosys  43.0  4034.000      Mumbai      Hindi    807        4841.000
60       TCS  32.0  5034.000      Cochin  Malayalam   1007        6041.000
61   Infosys  21.0  8202.000     Chennai     Tamizh   1640        9842.000
62       TCS  34.0  9024.000      Mumbai      Hindi   1805       10829.000
63       TCS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
64   Infosys  34.0  5312.468       Delhi      Hindi   1062        6374.468
65       TCS  37.0  2300.000      Mumbai      Hindi    460        2760.000
66   Infosys  44.0  3000.000      Cochin  Malayalam    600        3600.000
67       TCS  32.0  4000.000       Noida      HINDI    800        4800.000
68   Infosys  30.5  5000.000   Hyderabad     Telugu   1000        6000.000
69       TCS  30.5  6000.000    Calcutta    Bengali   1200        7200.000
70   Infosys  26.0  7000.000      Bhopal      HINDI   1400        8400.000
71       TCS  32.0  8000.000      Nagpur      HINDI   1600        9600.000
72       CTS  43.0  9000.000        Pune      HINDI   1800       10800.000
73       CTS  22.0  5312.468        Pune      HINDI   1062        6374.468
74       CTS  33.0  1089.000     Chennai     Tamizh    218        1307.000
75       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
76       CTS  17.0  1234.000    Calcutta    Bengali    247        1481.000
77   Infosys  41.0  3000.000       Delhi      Hindi    600        3600.000
78       TCS  21.0  3000.000      Mumbai      Hindi    600        3600.000
79   Infosys   0.0  3030.000    Calcutta    Bengali    606        3636.000
80       TCS  36.0  5000.000     Chennai     Tamizh   1000        6000.000
81       TCS  21.0  5312.468      Mumbai      Hindi   1062        6374.468
82   Infosys  34.0  5312.468    Calcutta    Bengali   1062        6374.468
83       TCS   0.0  3045.000       Delhi      Hindi    609        3654.000
84   Infosys  54.0  3184.000      Mumbai      Hindi    637        3821.000
85       TCS  22.0  4824.000    Calcutta    Bengali    965        5789.000
86   Infosys  30.5  5835.000     Chennai     Tamizh   1167        7002.000
87       TCS  30.5  7084.000      Mumbai      Hindi   1417        8501.000
88   Infosys  22.0  8943.000    Calcutta    Bengali   1789       10732.000
89       TCS  33.0  8345.000       Delhi      Hindi   1669       10014.000
90       CTS  44.0  9284.000  Podicherry     Tamizh   1857       11141.000
91       CTS  22.0  5312.468      Cochin  Malayalam   1062        6374.468
92       CTS   0.0  2034.000  Podicherry     Tamizh    407        2441.000
93       CTS  44.0  5312.468      Mumbai      Hindi   1062        6374.468
94       CTS  22.0  2934.000    Calcutta    Bengali    587        3521.000
95   Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
96       TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
97   Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
98       TCS   0.0  9024.000     Chennai     Tamizh   1805       10829.000
99       TCS  33.0  5312.468      Mumbai      Hindi   1062        6374.468
100      TCS  33.0  5312.468    Calcutta    Bengali   1062        6374.468
101      TCS  33.0  2300.000       Delhi      Hindi    460        2760.000
102  Infosys   0.0  3234.000      Mumbai      Hindi    647        3881.000
103      TCS  22.0  4324.000      Cochin  Malayalam    865        5189.000
104  Infosys  30.5  5435.000     Chennai     Tamizh   1087        6522.000
105      TCS  30.5  5555.000      Mumbai      Hindi   1111        6666.000
106  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
107      CTS  33.0  1089.000       Noida      HINDI    218        1307.000
108      CTS  44.0  5312.468   Hyderabad     Telugu   1062        6374.468
109      CTS   0.0  1234.000    Calcutta    Bengali    247        1481.000
110  Infosys  44.0  3234.000      Mumbai      Hindi    647        3881.000
111      TCS  30.5  3454.000    Calcutta    Bengali    691        4145.000
112  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
113  Infosys  30.0  5098.000       Noida      HINDI   1020        6118.000
114      TCS  33.0  3045.000   Hyderabad     Telugu    609        3654.000
115  Infosys  50.0  3184.000    Calcutta    Bengali    637        3821.000
116      TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
117  Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
118      TCS  30.5  7084.000      Cochin  Malayalam   1417        8501.000
119      TCS  22.0  8943.000     Chennai     Tamizh   1789       10732.000
120      TCS  31.0  8345.000      Mumbai      Hindi   1669       10014.000
121      CTS  40.0  9284.000    Calcutta    Bengali   1857       11141.000
122      TCS  30.5  5312.468       Delhi      Hindi   1062        6374.468
123      CTS  31.0  2034.000      Mumbai      Hindi    407        2441.000
124      CTS  44.0  3033.000      Cochin  Malayalam    607        3640.000
125      CTS  22.0  2934.000       Noida      HINDI    587        3521.000
126  Infosys  44.0  4034.000   Hyderabad     Telugu    807        4841.000
127      TCS  33.0  5034.000    Calcutta    Bengali   1007        6041.000
128  Infosys  22.0  8202.000      Mumbai      Hindi   1640        9842.000
129      TCS  33.0  9024.000    Calcutta    Bengali   1805       10829.000
130  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
131  Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
132      TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
133  Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000

In [94]:
df.groupby('Company')['Salary'].min()

Company
CTS        1089.0
Infosys    3000.0
TCS        2300.0
Name: Salary, dtype: float64

In [95]:
df.groupby('Company')['Salary'].max()

Company
CTS        9876.0
Infosys    8943.0
TCS        9024.0
Name: Salary, dtype: float64

In [96]:
df.groupby('Company')['Salary'].mean()

Company
CTS        4505.819429
Infosys    5233.997091
TCS        5395.912945
Name: Salary, dtype: float64

In [97]:
df.groupby('Company')['Salary'].agg(['min','max','mean'])

            min     max         mean
Company
CTS      1089.0  9876.0  4505.819429
Infosys  3000.0  8943.0  5233.997091
TCS      2300.0  9024.0  5395.912945

In [98]:
df.groupby(['Company','City'])['Salary'].agg(['min','max','mean'])

                         min       max         mean
Company City
CTS     Calcutta    1089.000  9284.000  3771.419429
        Chennai     1089.000  7654.000  4685.156000
        Cochin      1234.000  5312.468  2903.367000
        Delhi       9000.000  9284.000  9142.000000
        Hyderabad   2034.000  9000.000  5448.822667
        Mumbai      1089.000  9876.000  4135.087200
        Noida       1089.000  2934.000  2011.500000
        Podicherry  2034.000  9284.000  5659.000000
        Pune        5312.468  9000.000  7156.234000
Infosys Bhopal      7000.000  7000.000  7000.000000
        Calcutta    3000.000  8943.000  5626.769818
        Chennai     3000.000  8202.000  5618.000000
        Cochin      3000.000  8202.000  6578.600000
        Delhi       3000.000  5312.468  3760.744667
        Hyderabad   3184.000  5000.000  4072.666667
        Mumbai      3000.000  8943.000  5260.494667
        Noida       5098.000  5098.000  5098.000000
        Podicherry  3030.000  3030.000  3030.000000
TCS     Calcutta    2300.000  9024.000  5280.262400
        Chennai     5000.000  9024.000  6667.990857
        Cochin      4324.000  7084.000  5360.500000
        Delhi       2300.000  8345.000  4500.411333
        Hyderabad   3045.000  5312.468  4178.734000
        Mumbai      2300.000  9024.000  5279.529067
        Nagpur      8000.000  8000.000  8000.000000
        Noida       3045.000  8000.000  5380.093600

In [99]:
df

     Company   Age    Salary        City   Language  Bonus  Revised_Salary
0        TCS  20.0  5312.468     Chennai     Tamizh   1062        6374.468
1    Infosys  30.0  5312.468      Mumbai      Hindi   1062        6374.468
2        TCS  35.0  2300.000    Calcutta    Bengali    460        2760.000
3    Infosys  40.0  3000.000       Delhi      Hindi    600        3600.000
4        TCS  23.0  4000.000      Mumbai      Hindi    800        4800.000
5    Infosys  30.5  5000.000    Calcutta    Bengali   1000        6000.000
6        TCS  30.5  6000.000     Chennai     Tamizh   1200        7200.000
7    Infosys  23.0  7000.000      Mumbai      Hindi   1400        8400.000
8        TCS  34.0  8000.000    Calcutta    Bengali   1600        9600.000
9        CTS  45.0  9000.000       Delhi      Hindi   1800       10800.000
10       CTS  23.0  5312.468      Mumbai      Hindi   1062        6374.468
11       CTS  34.0  1089.000    Calcutta    Bengali    218        1307.000
12       CTS  45.0  5312.468     Chennai     Tamizh   1062        6374.468
13       CTS  18.0  1234.000      Mumbai      Hindi    247        1481.000
14   Infosys  40.0  3000.000    Calcutta    Bengali    600        3600.000
15       TCS  23.0  3000.000       Delhi      Hindi    600        3600.000
16   Infosys  23.0  3030.000  Podicherry     Tamizh    606        3636.000
17       TCS  34.0  5000.000      Cochin  Malayalam   1000        6000.000
18       TCS  22.0  5312.468     Chennai     Tamizh   1062        6374.468
19   Infosys  32.0  5312.468      Mumbai      Hindi   1062        6374.468
20       TCS  37.0  3045.000    Calcutta    Bengali    609        3654.000
21   Infosys  50.0  3184.000       Delhi      Hindi    637        3821.000
22       TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
23   Infosys  30.5  5835.000      Cochin  Malayalam   1167        7002.000
24       TCS  30.5  7084.000     Chennai     Tamizh   1417        8501.000
25   Infosys  23.0  8943.000      Mumbai      Hindi   1789       10732.000
26       TCS  34.0  8345.000    Calcutta    Bengali   1669       10014.000
27       CTS  45.0  9284.000       Delhi      Hindi   1857       11141.000
28       CTS  23.0  9876.000      Mumbai      Hindi   1975       11851.000
29       CTS  35.0  2034.000      Cochin  Malayalam    407        2441.000
30       CTS  46.0  7654.000     Chennai     Tamizh   1531        9185.000
31       CTS  20.0  2934.000      Mumbai      Hindi    587        3521.000
32   Infosys  45.0  4034.000    Calcutta    Bengali    807        4841.000
33       TCS  32.0  5312.468       Noida      HINDI   1062        6374.468
34       TCS  35.0  5312.468   Hyderabad     Telugu   1062        6374.468
35       TCS  34.0  2300.000    Calcutta    Bengali    460        2760.000
36   Infosys  41.0  3000.000      Mumbai      Hindi    600        3600.000
37       TCS  24.0  4345.000    Calcutta    Bengali    869        5214.000
38       TCS  35.0  8000.000       Noida      HINDI   1600        9600.000
39       CTS  46.0  9000.000   Hyderabad     Telugu   1800       10800.000
40       CTS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
41       CTS  32.0  1089.000      Mumbai      Hindi    218        1307.000
42       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
43       CTS  19.0  1234.000      Cochin  Malayalam    247        1481.000
44   Infosys  41.0  3000.000     Chennai     Tamizh    600        3600.000
45       TCS  24.0  3000.000      Mumbai      Hindi    600        3600.000
46   Infosys  21.0  3030.000    Calcutta    Bengali    606        3636.000
47       TCS  35.0  5000.000       Delhi      Hindi   1000        6000.000
48       TCS  21.0  6544.000      Mumbai      Hindi   1309        7853.000
49   Infosys  32.0  7654.000      Cochin  Malayalam   1531        9185.000
50       TCS  38.0  3045.000       Noida      HINDI    609        3654.000
51   Infosys  51.0  3184.000   Hyderabad     Telugu    637        3821.000
52       TCS  23.0  4824.000    Calcutta    Bengali    965        5789.000
53   Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
54       TCS  30.5  7084.000    Calcutta    Bengali   1417        8501.000
55       TCS  25.0  6543.000       Noida      HINDI   1309        7852.000
56       CTS  31.0  2034.000   Hyderabad     Telugu    407        2441.000
57       CTS  41.0  5312.468    Calcutta    Bengali   1062        6374.468
58       CTS  21.0  2934.000      Mumbai      Hindi    587        3521.000
59   Infosys  43.0  4034.000      Mumbai      Hindi    807        4841.000
60       TCS  32.0  5034.000      Cochin  Malayalam   1007        6041.000
61   Infosys  21.0  8202.000     Chennai     Tamizh   1640        9842.000
62       TCS  34.0  9024.000      Mumbai      Hindi   1805       10829.000
63       TCS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
64   Infosys  34.0  5312.468       Delhi      Hindi   1062        6374.468
65       TCS  37.0  2300.000      Mumbai      Hindi    460        2760.000
66   Infosys  44.0  3000.000      Cochin  Malayalam    600        3600.000
67       TCS  32.0  4000.000       Noida      HINDI    800        4800.000
68   Infosys  30.5  5000.000   Hyderabad     Telugu   1000        6000.000
69       TCS  30.5  6000.000    Calcutta    Bengali   1200        7200.000
70   Infosys  26.0  7000.000      Bhopal      HINDI   1400        8400.000
71       TCS  32.0  8000.000      Nagpur      HINDI   1600        9600.000
72       CTS  43.0  9000.000        Pune      HINDI   1800       10800.000
73       CTS  22.0  5312.468        Pune      HINDI   1062        6374.468
74       CTS  33.0  1089.000     Chennai     Tamizh    218        1307.000
75       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
76       CTS  17.0  1234.000    Calcutta    Bengali    247        1481.000
77   Infosys  41.0  3000.000       Delhi      Hindi    600        3600.000
78       TCS  21.0  3000.000      Mumbai      Hindi    600        3600.000
79   Infosys   0.0  3030.000    Calcutta    Bengali    606        3636.000
80       TCS  36.0  5000.000     Chennai     Tamizh   1000        6000.000
81       TCS  21.0  5312.468      Mumbai      Hindi   1062        6374.468
82   Infosys  34.0  5312.468    Calcutta    Bengali   1062        6374.468
83       TCS   0.0  3045.000       Delhi      Hindi    609        3654.000
84   Infosys  54.0  3184.000      Mumbai      Hindi    637        3821.000
85       TCS  22.0  4824.000    Calcutta    Bengali    965        5789.000
86   Infosys  30.5  5835.000     Chennai     Tamizh   1167        7002.000
87       TCS  30.5  7084.000      Mumbai      Hindi   1417        8501.000
88   Infosys  22.0  8943.000    Calcutta    Bengali   1789       10732.000
89       TCS  33.0  8345.000       Delhi      Hindi   1669       10014.000
90       CTS  44.0  9284.000  Podicherry     Tamizh   1857       11141.000
91       CTS  22.0  5312.468      Cochin  Malayalam   1062        6374.468
92       CTS   0.0  2034.000  Podicherry     Tamizh    407        2441.000
93       CTS  44.0  5312.468      Mumbai      Hindi   1062        6374.468
94       CTS  22.0  2934.000    Calcutta    Bengali    587        3521.000
95   Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
96       TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
97   Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
98       TCS   0.0  9024.000     Chennai     Tamizh   1805       10829.000
99       TCS  33.0  5312.468      Mumbai      Hindi   1062        6374.468
100      TCS  33.0  5312.468    Calcutta    Bengali   1062        6374.468
101      TCS  33.0  2300.000       Delhi      Hindi    460        2760.000
102  Infosys   0.0  3234.000      Mumbai      Hindi    647        3881.000
103      TCS  22.0  4324.000      Cochin  Malayalam    865        5189.000
104  Infosys  30.5  5435.000     Chennai     Tamizh   1087        6522.000
105      TCS  30.5  5555.000      Mumbai      Hindi   1111        6666.000
106  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
107      CTS  33.0  1089.000       Noida      HINDI    218        1307.000
108      CTS  44.0  5312.468   Hyderabad     Telugu   1062        6374.468
109      CTS   0.0  1234.000    Calcutta    Bengali    247        1481.000
110  Infosys  44.0  3234.000      Mumbai      Hindi    647        3881.000
111      TCS  30.5  3454.000    Calcutta    Bengali    691        4145.000
112  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
113  Infosys  30.0  5098.000       Noida      HINDI   1020        6118.000
114      TCS  33.0  3045.000   Hyderabad     Telugu    609        3654.000
115  Infosys  50.0  3184.000    Calcutta    Bengali    637        3821.000
116      TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
117  Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
118      TCS  30.5  7084.000      Cochin  Malayalam   1417        8501.000
119      TCS  22.0  8943.000     Chennai     Tamizh   1789       10732.000
120      TCS  31.0  8345.000      Mumbai      Hindi   1669       10014.000
121      CTS  40.0  9284.000    Calcutta    Bengali   1857       11141.000
122      TCS  30.5  5312.468       Delhi      Hindi   1062        6374.468
123      CTS  31.0  2034.000      Mumbai      Hindi    407        2441.000
124      CTS  44.0  3033.000      Cochin  Malayalam    607        3640.000
125      CTS  22.0  2934.000       Noida      HINDI    587        3521.000
126  Infosys  44.0  4034.000   Hyderabad     Telugu    807        4841.000
127      TCS  33.0  5034.000    Calcutta    Bengali   1007        6041.000
128  Infosys  22.0  8202.000      Mumbai      Hindi   1640        9842.000
129      TCS  33.0  9024.000    Calcutta    Bengali   1805       10829.000
130  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
131  Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
132      TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
133  Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000

In [101]:
df.sort_values(by=['Revised_Salary','Age'])

     Company   Age    Salary        City   Language  Bonus  Revised_Salary
41       CTS  32.0  1089.000      Mumbai      Hindi    218        1307.000
74       CTS  33.0  1089.000     Chennai     Tamizh    218        1307.000
107      CTS  33.0  1089.000       Noida      HINDI    218        1307.000
11       CTS  34.0  1089.000    Calcutta    Bengali    218        1307.000
109      CTS   0.0  1234.000    Calcutta    Bengali    247        1481.000
76       CTS  17.0  1234.000    Calcutta    Bengali    247        1481.000
13       CTS  18.0  1234.000      Mumbai      Hindi    247        1481.000
43       CTS  19.0  1234.000      Cochin  Malayalam    247        1481.000
92       CTS   0.0  2034.000  Podicherry     Tamizh    407        2441.000
56       CTS  31.0  2034.000   Hyderabad     Telugu    407        2441.000
123      CTS  31.0  2034.000      Mumbai      Hindi    407        2441.000
29       CTS  35.0  2034.000      Cochin  Malayalam    407        2441.000
101      TCS  33.0  2300.000       Delhi      Hindi    460        2760.000
35       TCS  34.0  2300.000    Calcutta    Bengali    460        2760.000
2        TCS  35.0  2300.000    Calcutta    Bengali    460        2760.000
65       TCS  37.0  2300.000      Mumbai      Hindi    460        2760.000
31       CTS  20.0  2934.000      Mumbai      Hindi    587        3521.000
58       CTS  21.0  2934.000      Mumbai      Hindi    587        3521.000
94       CTS  22.0  2934.000    Calcutta    Bengali    587        3521.000
125      CTS  22.0  2934.000       Noida      HINDI    587        3521.000
78       TCS  21.0  3000.000      Mumbai      Hindi    600        3600.000
15       TCS  23.0  3000.000       Delhi      Hindi    600        3600.000
45       TCS  24.0  3000.000      Mumbai      Hindi    600        3600.000
3    Infosys  40.0  3000.000       Delhi      Hindi    600        3600.000
14   Infosys  40.0  3000.000    Calcutta    Bengali    600        3600.000
36   Infosys  41.0  3000.000      Mumbai      Hindi    600        3600.000
44   Infosys  41.0  3000.000     Chennai     Tamizh    600        3600.000
77   Infosys  41.0  3000.000       Delhi      Hindi    600        3600.000
66   Infosys  44.0  3000.000      Cochin  Malayalam    600        3600.000
79   Infosys   0.0  3030.000    Calcutta    Bengali    606        3636.000
46   Infosys  21.0  3030.000    Calcutta    Bengali    606        3636.000
16   Infosys  23.0  3030.000  Podicherry     Tamizh    606        3636.000
124      CTS  44.0  3033.000      Cochin  Malayalam    607        3640.000
83       TCS   0.0  3045.000       Delhi      Hindi    609        3654.000
114      TCS  33.0  3045.000   Hyderabad     Telugu    609        3654.000
20       TCS  37.0  3045.000    Calcutta    Bengali    609        3654.000
50       TCS  38.0  3045.000       Noida      HINDI    609        3654.000
21   Infosys  50.0  3184.000       Delhi      Hindi    637        3821.000
115  Infosys  50.0  3184.000    Calcutta    Bengali    637        3821.000
51   Infosys  51.0  3184.000   Hyderabad     Telugu    637        3821.000
84   Infosys  54.0  3184.000      Mumbai      Hindi    637        3821.000
102  Infosys   0.0  3234.000      Mumbai      Hindi    647        3881.000
110  Infosys  44.0  3234.000      Mumbai      Hindi    647        3881.000
111      TCS  30.5  3454.000    Calcutta    Bengali    691        4145.000
4        TCS  23.0  4000.000      Mumbai      Hindi    800        4800.000
67       TCS  32.0  4000.000       Noida      HINDI    800        4800.000
59   Infosys  43.0  4034.000      Mumbai      Hindi    807        4841.000
95   Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
126  Infosys  44.0  4034.000   Hyderabad     Telugu    807        4841.000
131  Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
32   Infosys  45.0  4034.000    Calcutta    Bengali    807        4841.000
103      TCS  22.0  4324.000      Cochin  Malayalam    865        5189.000
37       TCS  24.0  4345.000    Calcutta    Bengali    869        5214.000
22       TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
116      TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
85       TCS  22.0  4824.000    Calcutta    Bengali    965        5789.000
52       TCS  23.0  4824.000    Calcutta    Bengali    965        5789.000
5    Infosys  30.5  5000.000    Calcutta    Bengali   1000        6000.000
68   Infosys  30.5  5000.000   Hyderabad     Telugu   1000        6000.000
17       TCS  34.0  5000.000      Cochin  Malayalam   1000        6000.000
47       TCS  35.0  5000.000       Delhi      Hindi   1000        6000.000
80       TCS  36.0  5000.000     Chennai     Tamizh   1000        6000.000
60       TCS  32.0  5034.000      Cochin  Malayalam   1007        6041.000
96       TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
127      TCS  33.0  5034.000    Calcutta    Bengali   1007        6041.000
132      TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
113  Infosys  30.0  5098.000       Noida      HINDI   1020        6118.000
0        TCS  20.0  5312.468     Chennai     Tamizh   1062        6374.468
81       TCS  21.0  5312.468      Mumbai      Hindi   1062        6374.468
18       TCS  22.0  5312.468     Chennai     Tamizh   1062        6374.468
73       CTS  22.0  5312.468        Pune      HINDI   1062        6374.468
91       CTS  22.0  5312.468      Cochin  Malayalam   1062        6374.468
10       CTS  23.0  5312.468      Mumbai      Hindi   1062        6374.468
40       CTS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
63       TCS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
1    Infosys  30.0  5312.468      Mumbai      Hindi   1062        6374.468
122      TCS  30.5  5312.468       Delhi      Hindi   1062        6374.468
19   Infosys  32.0  5312.468      Mumbai      Hindi   1062        6374.468
33       TCS  32.0  5312.468       Noida      HINDI   1062        6374.468
99       TCS  33.0  5312.468      Mumbai      Hindi   1062        6374.468
100      TCS  33.0  5312.468    Calcutta    Bengali   1062        6374.468
64   Infosys  34.0  5312.468       Delhi      Hindi   1062        6374.468
82   Infosys  34.0  5312.468    Calcutta    Bengali   1062        6374.468
34       TCS  35.0  5312.468   Hyderabad     Telugu   1062        6374.468
57       CTS  41.0  5312.468    Calcutta    Bengali   1062        6374.468
42       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
75       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
93       CTS  44.0  5312.468      Mumbai      Hindi   1062        6374.468
108      CTS  44.0  5312.468   Hyderabad     Telugu   1062        6374.468
12       CTS  45.0  5312.468     Chennai     Tamizh   1062        6374.468
104  Infosys  30.5  5435.000     Chennai     Tamizh   1087        6522.000
105      TCS  30.5  5555.000      Mumbai      Hindi   1111        6666.000
23   Infosys  30.5  5835.000      Cochin  Malayalam   1167        7002.000
53   Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
86   Infosys  30.5  5835.000     Chennai     Tamizh   1167        7002.000
117  Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
6        TCS  30.5  6000.000     Chennai     Tamizh   1200        7200.000
69       TCS  30.5  6000.000    Calcutta    Bengali   1200        7200.000
55       TCS  25.0  6543.000       Noida      HINDI   1309        7852.000
48       TCS  21.0  6544.000      Mumbai      Hindi   1309        7853.000
7    Infosys  23.0  7000.000      Mumbai      Hindi   1400        8400.000
70   Infosys  26.0  7000.000      Bhopal      HINDI   1400        8400.000
24       TCS  30.5  7084.000     Chennai     Tamizh   1417        8501.000
54       TCS  30.5  7084.000    Calcutta    Bengali   1417        8501.000
87       TCS  30.5  7084.000      Mumbai      Hindi   1417        8501.000
118      TCS  30.5  7084.000      Cochin  Malayalam   1417        8501.000
49   Infosys  32.0  7654.000      Cochin  Malayalam   1531        9185.000
30       CTS  46.0  7654.000     Chennai     Tamizh   1531        9185.000
71       TCS  32.0  8000.000      Nagpur      HINDI   1600        9600.000
8        TCS  34.0  8000.000    Calcutta    Bengali   1600        9600.000
38       TCS  35.0  8000.000       Noida      HINDI   1600        9600.000
61   Infosys  21.0  8202.000     Chennai     Tamizh   1640        9842.000
97   Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
128  Infosys  22.0  8202.000      Mumbai      Hindi   1640        9842.000
133  Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
120      TCS  31.0  8345.000      Mumbai      Hindi   1669       10014.000
89       TCS  33.0  8345.000       Delhi      Hindi   1669       10014.000
26       TCS  34.0  8345.000    Calcutta    Bengali   1669       10014.000
106  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
112  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
130  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
88   Infosys  22.0  8943.000    Calcutta    Bengali   1789       10732.000
119      TCS  22.0  8943.000     Chennai     Tamizh   1789       10732.000
25   Infosys  23.0  8943.000      Mumbai      Hindi   1789       10732.000
72       CTS  43.0  9000.000        Pune      HINDI   1800       10800.000
9        CTS  45.0  9000.000       Delhi      Hindi   1800       10800.000
39       CTS  46.0  9000.000   Hyderabad     Telugu   1800       10800.000
98       TCS   0.0  9024.000     Chennai     Tamizh   1805       10829.000
129      TCS  33.0  9024.000    Calcutta    Bengali   1805       10829.000
62       TCS  34.0  9024.000      Mumbai      Hindi   1805       10829.000
121      CTS  40.0  9284.000    Calcutta    Bengali   1857       11141.000
90       CTS  44.0  9284.000  Podicherry     Tamizh   1857       11141.000
27       CTS  45.0  9284.000       Delhi      Hindi   1857       11141.000
28       CTS  23.0  9876.000      Mumbai      Hindi   1975       11851.000

In [103]:
df=df.sort_values(by=['Revised_Salary','Age'],ascending=False)

In [104]:
df

     Company   Age    Salary        City   Language  Bonus  Revised_Salary
28       CTS  23.0  9876.000      Mumbai      Hindi   1975       11851.000
27       CTS  45.0  9284.000       Delhi      Hindi   1857       11141.000
90       CTS  44.0  9284.000  Podicherry     Tamizh   1857       11141.000
121      CTS  40.0  9284.000    Calcutta    Bengali   1857       11141.000
62       TCS  34.0  9024.000      Mumbai      Hindi   1805       10829.000
129      TCS  33.0  9024.000    Calcutta    Bengali   1805       10829.000
98       TCS   0.0  9024.000     Chennai     Tamizh   1805       10829.000
39       CTS  46.0  9000.000   Hyderabad     Telugu   1800       10800.000
9        CTS  45.0  9000.000       Delhi      Hindi   1800       10800.000
72       CTS  43.0  9000.000        Pune      HINDI   1800       10800.000
25   Infosys  23.0  8943.000      Mumbai      Hindi   1789       10732.000
88   Infosys  22.0  8943.000    Calcutta    Bengali   1789       10732.000
119      TCS  22.0  8943.000     Chennai     Tamizh   1789       10732.000
106  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
112  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
130  Infosys  22.0  8787.000    Calcutta    Bengali   1757       10544.000
26       TCS  34.0  8345.000    Calcutta    Bengali   1669       10014.000
89       TCS  33.0  8345.000       Delhi      Hindi   1669       10014.000
120      TCS  31.0  8345.000      Mumbai      Hindi   1669       10014.000
97   Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
128  Infosys  22.0  8202.000      Mumbai      Hindi   1640        9842.000
133  Infosys  22.0  8202.000      Cochin  Malayalam   1640        9842.000
61   Infosys  21.0  8202.000     Chennai     Tamizh   1640        9842.000
38       TCS  35.0  8000.000       Noida      HINDI   1600        9600.000
8        TCS  34.0  8000.000    Calcutta    Bengali   1600        9600.000
71       TCS  32.0  8000.000      Nagpur      HINDI   1600        9600.000
30       CTS  46.0  7654.000     Chennai     Tamizh   1531        9185.000
49   Infosys  32.0  7654.000      Cochin  Malayalam   1531        9185.000
24       TCS  30.5  7084.000     Chennai     Tamizh   1417        8501.000
54       TCS  30.5  7084.000    Calcutta    Bengali   1417        8501.000
87       TCS  30.5  7084.000      Mumbai      Hindi   1417        8501.000
118      TCS  30.5  7084.000      Cochin  Malayalam   1417        8501.000
70   Infosys  26.0  7000.000      Bhopal      HINDI   1400        8400.000
7    Infosys  23.0  7000.000      Mumbai      Hindi   1400        8400.000
48       TCS  21.0  6544.000      Mumbai      Hindi   1309        7853.000
55       TCS  25.0  6543.000       Noida      HINDI   1309        7852.000
6        TCS  30.5  6000.000     Chennai     Tamizh   1200        7200.000
69       TCS  30.5  6000.000    Calcutta    Bengali   1200        7200.000
23   Infosys  30.5  5835.000      Cochin  Malayalam   1167        7002.000
53   Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
86   Infosys  30.5  5835.000     Chennai     Tamizh   1167        7002.000
117  Infosys  30.5  5835.000      Mumbai      Hindi   1167        7002.000
105      TCS  30.5  5555.000      Mumbai      Hindi   1111        6666.000
104  Infosys  30.5  5435.000     Chennai     Tamizh   1087        6522.000
12       CTS  45.0  5312.468     Chennai     Tamizh   1062        6374.468
93       CTS  44.0  5312.468      Mumbai      Hindi   1062        6374.468
108      CTS  44.0  5312.468   Hyderabad     Telugu   1062        6374.468
42       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
75       CTS  43.0  5312.468      Mumbai      Hindi   1062        6374.468
57       CTS  41.0  5312.468    Calcutta    Bengali   1062        6374.468
34       TCS  35.0  5312.468   Hyderabad     Telugu   1062        6374.468
64   Infosys  34.0  5312.468       Delhi      Hindi   1062        6374.468
82   Infosys  34.0  5312.468    Calcutta    Bengali   1062        6374.468
99       TCS  33.0  5312.468      Mumbai      Hindi   1062        6374.468
100      TCS  33.0  5312.468    Calcutta    Bengali   1062        6374.468
19   Infosys  32.0  5312.468      Mumbai      Hindi   1062        6374.468
33       TCS  32.0  5312.468       Noida      HINDI   1062        6374.468
122      TCS  30.5  5312.468       Delhi      Hindi   1062        6374.468
1    Infosys  30.0  5312.468      Mumbai      Hindi   1062        6374.468
40       CTS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
63       TCS  24.0  5312.468    Calcutta    Bengali   1062        6374.468
10       CTS  23.0  5312.468      Mumbai      Hindi   1062        6374.468
18       TCS  22.0  5312.468     Chennai     Tamizh   1062        6374.468
73       CTS  22.0  5312.468        Pune      HINDI   1062        6374.468
91       CTS  22.0  5312.468      Cochin  Malayalam   1062        6374.468
81       TCS  21.0  5312.468      Mumbai      Hindi   1062        6374.468
0        TCS  20.0  5312.468     Chennai     Tamizh   1062        6374.468
113  Infosys  30.0  5098.000       Noida      HINDI   1020        6118.000
96       TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
127      TCS  33.0  5034.000    Calcutta    Bengali   1007        6041.000
132      TCS  33.0  5034.000      Mumbai      Hindi   1007        6041.000
60       TCS  32.0  5034.000      Cochin  Malayalam   1007        6041.000
80       TCS  36.0  5000.000     Chennai     Tamizh   1000        6000.000
47       TCS  35.0  5000.000       Delhi      Hindi   1000        6000.000
17       TCS  34.0  5000.000      Cochin  Malayalam   1000        6000.000
5    Infosys  30.5  5000.000    Calcutta    Bengali   1000        6000.000
68   Infosys  30.5  5000.000   Hyderabad     Telugu   1000        6000.000
52       TCS  23.0  4824.000    Calcutta    Bengali    965        5789.000
85       TCS  22.0  4824.000    Calcutta    Bengali    965        5789.000
22       TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
116      TCS  21.0  4824.000      Mumbai      Hindi    965        5789.000
37       TCS  24.0  4345.000    Calcutta    Bengali    869        5214.000
103      TCS  22.0  4324.000      Cochin  Malayalam    865        5189.000
32   Infosys  45.0  4034.000    Calcutta    Bengali    807        4841.000
95   Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
126  Infosys  44.0  4034.000   Hyderabad     Telugu    807        4841.000
131  Infosys  44.0  4034.000       Delhi      Hindi    807        4841.000
59   Infosys  43.0  4034.000      Mumbai      Hindi    807        4841.000
67       TCS  32.0  4000.000       Noida      HINDI    800        4800.000
4        TCS  23.0  4000.000      Mumbai      Hindi    800        4800.000
111      TCS  30.5  3454.000    Calcutta    Bengali    691        4145.000
110  Infosys  44.0  3234.000      Mumbai      Hindi    647        3881.000
102  Infosys   0.0  3234.000      Mumbai      Hindi    647        3881.000
84   Infosys  54.0  3184.000      Mumbai      Hindi    637        3821.000
51   Infosys  51.0  3184.000   Hyderabad     Telugu    637        3821.000
21   Infosys  50.0  3184.000       Delhi      Hindi    637        3821.000
115  Infosys  50.0  3184.000    Calcutta    Bengali    637        3821.000
50       TCS  38.0  3045.000       Noida      HINDI    609        3654.000
20       TCS  37.0  3045.000    Calcutta    Bengali    609        3654.000
114      TCS  33.0  3045.000   Hyderabad     Telugu    609        3654.000
83       TCS   0.0  3045.000       Delhi      Hindi    609        3654.000
124      CTS  44.0  3033.000      Cochin  Malayalam    607        3640.000
16   Infosys  23.0  3030.000  Podicherry     Tamizh    606        3636.000
46   Infosys  21.0  3030.000    Calcutta    Bengali    606        3636.000
79   Infosys   0.0  3030.000    Calcutta    Bengali    606        3636.000
66   Infosys  44.0  3000.000      Cochin  Malayalam    600        3600.000
36   Infosys  41.0  3000.000      Mumbai      Hindi    600        3600.000
44   Infosys  41.0  3000.000     Chennai     Tamizh    600        3600.000
77   Infosys  41.0  3000.000       Delhi      Hindi    600        3600.000
3    Infosys  40.0  3000.000       Delhi      Hindi    600        3600.000
14   Infosys  40.0  3000.000    Calcutta    Bengali    600        3600.000
45       TCS  24.0  3000.000      Mumbai      Hindi    600        3600.000
15       TCS  23.0  3000.000       Delhi      Hindi    600        3600.000
78       TCS  21.0  3000.000      Mumbai      Hindi    600        3600.000
94       CTS  22.0  2934.000    Calcutta    Bengali    587        3521.000
125      CTS  22.0  2934.000       Noida      HINDI    587        3521.000
58       CTS  21.0  2934.000      Mumbai      Hindi    587        3521.000
31       CTS  20.0  2934.000      Mumbai      Hindi    587        3521.000
65       TCS  37.0  2300.000      Mumbai      Hindi    460        2760.000
2        TCS  35.0  2300.000    Calcutta    Bengali    460        2760.000
35       TCS  34.0  2300.000    Calcutta    Bengali    460        2760.000
101      TCS  33.0  2300.000       Delhi      Hindi    460        2760.000
29       CTS  35.0  2034.000      Cochin  Malayalam    407        2441.000
56       CTS  31.0  2034.000   Hyderabad     Telugu    407        2441.000
123      CTS  31.0  2034.000      Mumbai      Hindi    407        2441.000
92       CTS   0.0  2034.000  Podicherry     Tamizh    407        2441.000
43       CTS  19.0  1234.000      Cochin  Malayalam    247        1481.000
13       CTS  18.0  1234.000      Mumbai      Hindi    247        1481.000
76       CTS  17.0  1234.000    Calcutta    Bengali    247        1481.000
109      CTS   0.0  1234.000    Calcutta    Bengali    247        1481.000
11       CTS  34.0  1089.000    Calcutta    Bengali    218        1307.000
74       CTS  33.0  1089.000     Chennai     Tamizh    218        1307.000
107      CTS  33.0  1089.000       Noida      HINDI    218        1307.000
41       CTS  32.0  1089.000      Mumbai      Hindi    218        1307.000

In [106]:
df.to_csv(r'C:\Users\DELL\Desktop\test\Company_modified.csv',index=False)